@import 'styles/variables.sass'

.root
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center

.title
  margin-bottom: .5rem
  font-size: 1.25rem
  line-height: 1.5rem

.inner
  margin-bottom: 1.75rem

.percents
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center
  margin-top: 1.375rem
  margin-bottom: 1rem

.percent::before
  content: ''
  position: relative
  display: inline-block
  left: 50%
  bottom: 1.375rem
  width: .375rem
  height: .375rem
  border-radius: 50%
  background-color: $white

.tokenExchange
  margin-top: .5rem

.tokenInfo
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 1rem

.walletBalance
  display: flex
  margin-bottom: .5rem

.wBalance
  font-weight: normal

.wBalance, .balance
  font-size: 1rem
  line-height: 1.188rem

.balance
  margin-left: 1rem
  font-weight: bold

.borrowTitle
  margin-bottom: .5rem
  font-weight: bold
  font-size: 1rem
  line-height: 1.188rem

.borrow
  display: flex
  width: 100%
  justify-content: space-between
  &:last-child
    margin-bottom: 1rem
  &:not(:last-child)
    margin-bottom: .5rem

.borrowDescription, .borrowResult
  font-size: .75rem
  line-height: .875rem

.borrowDescription
  font-weight: normal

.borrowResult
  font-weight: bold
  margin-left: 2rem
