@import 'styles/variables.sass'
@import 'styles/breakpoints.scss'

.root
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  width: 100%

.inner
  padding: 1rem
  box-sizing: border-box

.title
  margin-bottom: .5rem
  font-size: 1.25rem
  line-height: 1.5rem

.icon
  margin-bottom: .5rem

.tokenInfo
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 1rem

.walletBalance
  display: flex
  margin-bottom: .5rem
  min-width: initial

.wBalance, .balance
  font-size: 1rem
  line-height: 1.188rem

.wBalance
  font-weight: normal

.balance
  margin-left: 1rem
  font-weight: bold

.borrowTitle
  margin-bottom: .5rem
  font-weight: bold
  font-size: 1rem
  line-height: 1.188rem

.borrowLimit, .borrowLimitUsed
  display: flex
  width: 100%
  justify-content: space-between

.borrowLimit
  margin-bottom: .5rem

.borrowLimitUsed
  margin-bottom: 1rem

.borrowDescription, .borrowResult
  font-size: .75rem
  line-height: .875rem

.borrowDescription
  font-weight: normal

.borrowResult
  font-weight: bold
  margin-left: .5rem

.supply
  color: $light-blue
  text-shadow: $blue-shadow
  &::placeholder
    color: $light-blue
    text-shadow: $blue-shadow
  &::-webkit-slider-thumb
    border: .125rem solid $blue
    box-shadow: -200px 0 0 195px $blue
  &::-moz-range-thumb
    border: .125rem solid $blue
    box-shadow: -200px 0 0 195px $blue

.borrow
  color: $light-yellow
  text-shadow: $light-yellow-shadow
  &::placeholder
    color: $light-yellow
    text-shadow: $light-yellow-shadow
  &::-webkit-slider-thumb
    border: .125rem solid $light-yellow
    box-shadow: -200px 0 0 195px $light-yellow
  &::-moz-range-thumb
    border: .125rem solid $light-yellow
    box-shadow: -200px 0 0 195px $light-yellow

@include media('>Mphone')
  .inner
    padding: 2rem 3.5rem
    width: 100%
    max-width: 32rem
  .title
    margin-bottom: 2rem
    font-size: 1.5rem
    line-height: 1.75rem
  .icon
    margin-bottom: 1rem
  .label
    font-size: .75rem
  .tokenInfo, .slider, .percents
    margin-bottom: 2rem
  .borrowTitle
    margin-bottom: 1.5rem
    font-size: 1.5rem
    line-height: 1.75rem
  .borrowResult
    font-size: 1rem
    line-height: 1.188rem
  .borrowDescription, .borrowLimit
    font-size: 1rem
  .borrowLimitUsed
    margin-bottom: 2.5rem
