@import 'styles/variables.sass'

.row
  display: flex
  align-items: center
  min-height: 1.5rem
  &:not(:last-child)
    margin-bottom: .5rem

.liquidate
  .row
    justify-content: space-between
  .title
    width: initial

.title
  width: 6.875rem
  margin-right: 1rem

.value
  font-size: .875rem
  font-weight: 400
  text-shadow: initial

.attention
  margin-left: 0rem

.logo
  margin-right: .5rem

.yellow
  color: $light-yellow

.yellowShadow
  text-shadow: $light-yellow-shadow

.blue
  color: $blue-neutral
  .title
    text-shadow: $blue-shadow

.white
  color: $white

.healthFactor
  display: flex

.amount
  margin-bottom: .25rem
  font-size: 1rem
  font-weight: 400
  text-shadow: initial

.amountUsd
  font-size: .75rem

.wrapper
  display: flex
  flex-direction: column
  padding: 0 .5rem

.active
  .amount
    font-weight: 700

.repayRoot
  position: relative
  cursor: pointer
  &.active
    background: linear-gradient(0deg, rgba(255, 199, 0, .3), rgba(255, 184, 0, 0) 91.23%)
    .amount
      text-shadow: $light-yellow-shadow

.receiveRoot
  cursor: pointer
  &.active
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 209, 255, 0.3) 100%)
    .amount
      text-shadow: $blue-shadow

.radio
  position: absolute
  top: .25rem
  right: .75rem

.marketsDetails
  padding-bottom: 0
  font-size: .875rem
  &::after
    display: none
  .value
    font-size: 1rem

.liquidate
  font-size: .875rem
  &:last-child
    padding-bottom: 0
    &::after
      display: none
  .value
    font-size: 1rem

// Empty cards
.root
  display: flex
  align-items: center
.column
  display: flex
  flex-direction: column
  width: 6.875rem
  margin-right: 1rem
.item
  &:not(:last-child)
    margin-bottom: 1rem
.text
  font-size: .875rem
  font-weight: 400
