@import 'styles/variables.sass'

.row
  display: flex
  align-items: center
  min-height: 1.5rem
  &:not(:last-child)
    margin-bottom: .5rem

.liquidate
  .row
    justify-content: space-between
  .title
    width: initial

.title
  width: 6.875rem
  margin-right: 1rem

.value
  font-size: .875rem
  font-weight: 400
  text-shadow: initial

.attention
  margin-left: 0rem

.logo
  margin-right: .5rem

.yellow
  color: $light-yellow

.yellowShadow
  text-shadow: $light-yellow-shadow

.blue
  color: $blue-neutral

.white
  color: $white

.wrapper
  display: flex

.amount
  margin-bottom: .25rem
  font-size: 1rem
  font-weight: 400
  text-shadow: initial

.amountUsd
  font-size: .75rem

.active
  background: linear-gradient(0deg,rgba(255, 199, 0, .3),rgba(255,184,0,0) 91.23%)
  .amount
    font-weight: 700
    text-shadow: $light-yellow-shadow

.wrapper
  display: flex
  flex-direction: column
  padding: 0 .5rem
