@import 'styles/breakpoints.scss'
@import 'styles/variables.sass'

.inner
  min-width: initial
  margin: 0 .5rem
  text-align: center

.wallets
  display: flex
  align-items: center
  flex-direction: column

.head
  margin-bottom: 1rem

.walletName
  margin-left: .5rem

.button
  display: flex
  align-items: center
  color: $blue-neutral
  transition: $animationTime
  &:hover
    color: $light-yellow
  &:active
    color: $white
  &:not(:last-child)
    margin-bottom: 0

@include media('>Mphone')
  .head
    margin-bottom: 2rem
  .inner
    margin: 0 5rem
  .wallets
    justify-content: center
    align-items: start
    flex-direction: row
  .button
    &:not(:last-child)
      margin-right: 2rem
      margin-bottom: -.5rem
