@import 'styles/breakpoints.scss'
@import 'styles/variables.sass'

.inner
  min-width: initial
  margin: 0 .5rem
  text-align: center

.wallets
  display: flex
  align-items: center
  flex-direction: column

.walletName
  margin-left: .5rem
  color: $blue-neutral
  &:hover
    text-shadow: $white-shadow
  &:focus, &:active
    color: $blue
    text-shadow: $blue-shadow

.button
  display: flex
  align-items: center
  &:not(:last-child)
    margin-bottom: 0

@include media('>Mphone')
  .inner
    margin: 0 5rem
  .wallets
    justify-content: center
    align-items: start
    flex-direction: row
  .button
    &:not(:last-child)
      margin-right: 2rem
      margin-bottom: -.5rem
