@import 'styles/variables.sass'
@import 'styles/breakpoints.scss'

.root
  display: flex
  flex-direction: column
  width: 100%

.content
  position: relative
  display: flex
  justify-content: space-between
  margin-bottom: .656rem
  font-weight: 700

.title
  display: flex
  align-items: center
  width: 100%
  justify-content: center

.percent, .value
  width: 25%

.value
  text-align: right

.attention
  margin-left: .75rem
  cursor: pointer
  margin-top: -1px

@include media('>Lphone')
  .title
    width: 50%
  .content
    margin-bottom: 1rem