@import "styles/variables.sass"
@import "styles/breakpoints.scss"

.header
  width: 100%
  font-weight: 700
  font-size: 1.5rem
  margin-bottom: 1rem

.withLink
  margin-bottom: 0

.link
  margin-bottom: .5rem

.primary
  color: $light-blue
  text-shadow: $blue-shadow

.secondary
  color: $light-yellow
  text-shadow: $light-yellow-shadow

@include media('>Mphone')
  .header
    font-size: 2rem
    margin-bottom: 1.75rem
  .link
    margin-bottom: 1.5rem

@include media('>=Lphone')
  .header
    font-size: 3rem
  .withLink
    margin-bottom: .75rem
