@import "styles/variables.sass"
@import "styles/breakpoints.scss"

.header
  width: 100%
  font-weight: 700
  font-size: 48px
  margin-bottom: 28px

.withLink
  margin-bottom: 8px

.link
  margin-bottom: 32px
  margin-left: -.75rem

.primary
  color: $light-blue
  text-shadow: $blue-shadow

.secondary
  color: $light-yellow
  text-shadow: $light-yellow-shadow
