@import 'styles/variables.sass'
@import 'styles/breakpoints.scss'

.root
  position: relative
  object-fit: contain
  border-radius: 50%
  overflow: hidden

.small
  height: 1.5rem
  width: 1.5rem

.medium
  height: 2rem
  width: 2rem

.large
  height: 3rem
  width: 3rem
