@import 'styles/variables.sass'
@import 'styles/breakpoints.scss'

.root
  position: relative
  object-fit: contain
  border-radius: 50%

.small
  height: 24px
  width: 24px

.large
  height: 48px
  width: 48px
