@import 'styles/variables'

.logo
  margin-right: .5rem

.blue
  color: $blue-neutral !important
  h4
    text-shadow: $blue-shadow !important

.yellow
  color: $light-yellow !important
  h4
    text-shadow: $light-yellow-shadow !important

.marketsDetails
  padding-bottom: 0
  font-size: .875rem
  &::after
    display: none
  .yellow, .blue
    div
      font-size: 1rem