@import 'styles/variables.sass'
@import 'styles/breakpoints.scss'

.root
  box-sizing: border-box
  width: 100%
  padding: .5rem 1rem
  border: .063rem solid $white
  border-radius: .25rem

.inner
  display: flex
  justify-content: space-between

.inputBlock
  width: 100%

.input
  width: 100%
  border: 0
  outline: none
  background: transparent
  font-weight: bold
  font-size: 1rem
  line-height: 1.188rem
  margin-bottom: .25rem
  transition: $animationTime
  &::placeholder
    font-weight: bold
    font-size: 1rem
    line-height: 1.188rem
  &:focus::-webkit-input-placeholder
    visibility: hidden
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    display: none
    -webkit-appearance: none
    margin: 0
  // &,
  // &:hover,
  // &:focus
  //   appearance: none
  //   -moz-appearance: textfield

.exchange
  font-weight: normal
  font-size: .75rem
  line-height: 0.875rem
  transition: $animationTime

.mainInfo
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 100%
  &:active input, &:active .exchange
    color: $white

.button
  display: flex
  align-items: center
  justify-content: center
  outline: none
  border: 0
  background: transparent
  font-weight: bold
  font-size: 1rem
  line-height: 1.188rem
  text-transform: uppercase
  color: $white
  text-shadow: $white-shadow
  transition: $animationTime
  &:active
    text-shadow: none

@include media('>Mphone')
  .root
    padding: 1rem 1.5rem
    height: 4.5rem
  .input
    margin-bottom: .5rem
