@import 'styles/breakpoints.scss'

.container
  min-height: calc(100vh - 14rem) // 100vh - (4rem header + 10rem footer)
  margin-top: 6rem // 2rem + 4rem header

@include media('>Ltablet')
  .container
    margin-top: 8rem // 4rem + 4rem header
