@import 'styles/variables.sass'

.root
  display: flex
  flex-direction: column
  width: 100%

.content
  display: flex
  justify-content: space-between
  margin-bottom: 1rem
  font-weight: 700

.symbol
  display: flex
  align-items: center
