@import "styles/variables.sass"
@import "styles/breakpoints.scss"

.root
  width: 100%
  height: 100%
  position: relative
  box-sizing: content-box
  overflow: hidden
  border-radius: .25rem
  // &.small
  //   max-width: 244px
  // &.medium
  //   max-width: 300px
  // &.large
  //   max-width: 392px

.internalBorder
  height: 100%
  min-height: 16px
  width: 100%
  border-radius: .25rem
  &.primary
    background-color: $white-bg-preloader
    .light
      background: $white-preloader-gradient
  &.secondary
    background: $blue-bg-preloader
    .light
      background: $blue-preloader-gradient
  &.tertiary
    background-color: $yellow-bg-preloader
    .light
      background: $yellow-preloader-gradient


.light
  position: relative
  width: 40%
  height: 100%
  min-height: 16px
  animation: lite 1.4s ease-in-out infinite

@keyframes lite
  0%
    left: -100%
  100%
    left: 100%

// @include media("<=678px")
//   .root
//     &.small
//       width: 128px
//     &.medium
//       max-width: 150px
