@import 'styles/variables.sass'
@import 'styles/breakpoints.scss'

.inner
  min-width: initial
  margin: 0 .5rem
  text-align: center

.head
  margin-bottom: 0.5rem

.address
  margin-bottom: 1.438rem
  font-weight: bold

.optionName
  margin-right: 1rem

.options
  display: flex
  flex-direction: column

.logout
  position: absolute
  top: .75rem
  left: 1rem
  font-size: .875rem
  color: $light-yellow
  transition: $animationTime
  &:hover
    text-shadow: $light-yellow-shadow-button
  &:active
    color: $white
    text-shadow: $white-shadow-button

.button
  display: flex
  justify-content: center
  text-transform: uppercase
  font-weight: bold
  color: $blue-neutral
  line-height: 1.063rem
  transition: $animationTime
  &:hover
    color: $light-yellow
    path
      fill: $light-yellow
  &:active
    color: $white
    path
      fill: $white
  &:first-child
    margin-bottom: .5rem
  &:last-child
    margin-bottom: -.25rem

.button
  path
    transition: fill $animationTime

@include media('>Mphone')
  .address
    margin-bottom: 2.5rem
  .options
    flex-direction: row
  .logout
    top: 2.25rem
    left: 1rem
  .button
    &:not(:last-child)
      margin-right: 2.5rem
      margin-bottom: 0
